{% extends 'users/base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <form class="w-50" method="POST">
    <h1 class="display-4">Basic Forget Password Page Validation</h1>
    {% csrf_token %}

    <!-- Display form errors -->
    {% if form.errors %}
    <div class="alert alert-danger">
      <strong>Error:</strong> Please correct the following errors.
      <ul>
        {% for field, errors in form.errors.items %}
        {% if field == '__all__' %}
        <li>{{ errors }}</li>
        {% else %}
        {% for error in errors %}
        <li>{{ field|capfirst }}: {{ error }}</li>
        {% endfor %}
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <!-- Display messages -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      {% if message.tags == 'success' %}
      <li class="alert alert-success">{{ message }}</li>
      {% elif message.tags == 'error' %}
      <li class="alert alert-danger">{{ message }}</li>
      {% else %}
      <li>{{ message }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}


    <!-- Email input -->
    <div class="mb-4">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" id="email-field" name="email" />
    </div>

    <!-- Username input -->
    <div class="mb-4">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" id="username-field" name="username" />
    </div>

    <!-- Submit button -->
    <input type="submit" class="btn btn-primary btn-block mb-4" value="Verify OTP" />
  </form>
</div>

<script>


  document.addEventListener('DOMContentLoaded', function () {
    // Get the input element by its ID
    var emailInput = document.getElementById('email-field');
    var usernameInput = document.getElementById('username-field');

    // Attach the onchange event listener
    emailInput.addEventListener('input', function () {
      // This function will be called when the input value changes
      if (emailInput.value === '') {
        usernameInput.removeAttribute('disabled');
      } else {
        usernameInput.setAttribute('disabled', true);
      }
    });

    usernameInput.addEventListener('input', function () {
      // This function will be called when the input value changes
      if (usernameInput.value === '') {
        emailInput.removeAttribute('disabled');
      } else {
        emailInput.setAttribute('disabled', true);
      }
    });

  });



</script>

{% endblock content %}