{% extends 'users/base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <form class="w-50" method="POST">
        <h1 class="display-4">Reset Your Password Here</h1>
        {% csrf_token %}

        <!-- Display form errors -->
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> Please correct the following errors.
            <ul>
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ field|capfirst }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Display success messages -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %}class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="mb-4">
            <label class="form-label" for="id_password1">New Password</label>
            <input type="password" name="password1" id="id_password1" class="form-control">
        </div>


        <div class="mb-4">
            <label class="form-label" for="id_password">Confirm Password</label>
            <input type="password" name="password2" id="id_password2" class="form-control" />
        </div>


        <input type="submit" class="btn btn-primary btn-block mb-4" id="submitButton" value="Reset">

    </form>
</div>

{% endblock content %}